body
  background: white
  font-family: "Karla", sans-serif
  font-optical-sizing: auto
  font-style: normal
  font-weight: 200
  font-size: 1em
.site-container
  width: 750px
  margin: auto

@media (max-width: 768px)
  .site-container
    width: 95vw
