.post-container
  max-width: 600px
  margin: 0px auto 30px
  position: relative
  display: block
  h4
    color: royalblue
    line-height: 1.2
    margin-bottom: 2em
    font:
      weight: 700
  img
    max-width: 100%
  a
    &:hover img
      opacity: 0.5
  .post-return
    cursor: pointer
    font:
      size: 1.7em
    +position(absolute, -3px null null -35px)
  .loading
    text-align: center
